{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}

{% block body %}
   <h1>Todo index</h1>
    <table class="table">
        <thead>
            <tr>
                <th><a href="{{ url('app_todo_index', {'orderby': 'id', 'order' : 'ASC'}) }}">ID</a></th>
                <th><a href="{{ url('app_todo_index', {'orderby': 'name', 'order' : 'ASC'}) }}">Name</a></th>
                <th><a href="{{ url('app_todo_index', {'orderby': 'description', 'order' : 'ASC'}) }}">Description</a></th>
                <th>Utilisateur</th>
                <th>Priority</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="go"/>
            {{ form_end(form) }}

            {{ form_start(formResearch) }}
                {{ form_widget(formResearch) }}
                <input type="submit" value="Rechercher"/>
            {{ form_end(formResearch) }}


        {% for todo in todos %}

            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.name }}</td>
                <td>{{ todo.description }}</td>
                {% if todo.user.name is defined %}
                    <td>{{ todo.user.name }}</td>
                {% endif %}
                <td>{{ todo.priority.name }}</td>

                {% if todo.status == 1 %}
                    <td>Fait<td>
                                    
                <td>
                    <a href="{{ path('app_todo_show', {'id': todo.id}) }}">show</a>
                </td> 
                {% else %}
                    <td>A Faire<td>
                                    
                <td>
                    <a href="{{ path('app_todo_show', {'id': todo.id}) }}">show</a>
                    <a href="{{ path('app_todo_edit', {'id': todo.id}) }}">edit</a>
                </td> 
                {% endif %}          
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_todo_new') }}">Create new</a>
{% endblock %}
